<div class="album text-muted">
    <div class="container">
        <span>
            <%= link_to 'Add New Portfolio Item', new_portfolio_path if logged_in?(:site_admin) %>
        </span>
        <%= source_helper("alert alert-warning") %>
        <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
            <%= render partial: 'portfolio_item', collection:  @portfolio_items %>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        $('.album .col-md-4').hide()

        $('.album .col-md-4').each(function(i) {
           delay =(i)*500;
           setTimeout(function (div) {
                    div.show().addClass('animated slideInUp');
                }, delay, $(this));
        });

    });
</script>