<div class="collapse" id="education">
    <div class="card card-block">
        <div class="row">
            <div class="col-md-3">
              <%= image_tag 'about/northern_kentucky_university.png', width: '100%' %>
            </div>
            <div class="col-md-9">
                <h5>Northern Kentucky University</h5>
                <h6>Major: Computer Information Technology</h6>
            </div>
        </div>
    </div>
    <div class="card card-block">
        <div class="row">
            <div class="col-md-3">
              <%= image_tag 'about/cincinnati_state.png', width: '100%' %>
            </div>
            <div class="col-md-9">
                <h5>Cincinnati State Technical & Community College</h5>
                <h6>Major: Software Engineering Technology</h6>
            </div>
        </div>
    </div>
</div>