<div class="card card-block">
    <div class="row">
        <div class="col-md-3">
          <%= image_tag 'about/aquiire_logo.png', width: '100%' %>
        </div>
        <div class="col-md-9">
          <strong>Front-End Developer</strong>
        </div>
    </div>
</div>
<div class="card card-block">
    <div class="row">
        <div class="col-md-3">
          <%= image_tag 'about/the_deciding_factor_logo.png', width: '100%' %>
        </div>
        <div class="col-md-9">
          <strong>Lead Web Developer</strong>
        </div>
    </div>
</div>
<div class="card card-block">
    <div class="row">
        <div class="col-md-3">
          <%= image_tag 'about/2060_digital_logo.png', width: '100%' %>
        </div>
        <div class="col-md-9">
          <strong>Web Developer</strong>
        </div>
    </div>
</div>
<div class="card card-block">
    <div class="row">
        <div class="col-md-3">
          <%= image_tag 'about/us_digital_partners_logo.png', width: '100%' %>
        </div>
        <div class="col-md-9">
          <strong>Web Developer</strong>
        </div>
    </div>
</div>