<h1>About Me</h1>
<p>'m a Web Developer that specializes in custom WordPress development. My focus 
when developing a project is to make it as user friendly as possible no matter 
what device it is being viewed on. My attention to detail when creating training 
documents will allow clients to update their website with ease.</p>
